<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="creative_3.js"></script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">

<div class="bodydiv">
  <h1><small>The Digital Drumset</small></h1>
  <h3></h3>
  <audio id="cymbal1audio">
    <source src="cymbal1.WAV">
  </audio>
  <audio id="cymbal2audio">
    <source src="cymbal2.mp3">
  </audio>
  <audio id="cymbal3audio">
    <source src="cymbal3.WAV">
  </audio>
  <audio id="cymbal4audio">
    <source src="cymbal4.WAV">
  </audio>
  <audio id="set1audio">
    <source src="set1.WAV">
  </audio>
  <audio id="set2audio">
    <source src="set2.WAV">
  </audio>
  <audio id="set4audio">
    <source src="set4.WAV">
  </audio>
  <audio id="bassAudio">
    <source src="bassdrum.WAV">
  </audio>
  <div class="drum-set">
    <img src="drumset.png">
    <div class="cymbal1" ng-click="cymbal1()"></div>
    <div class="cymbal2" ng-click="cymbal2()"></div>
    <div class="cymbal3" ng-click="cymbal3()"></div>
    <div class="cymbal4" ng-click="cymbal4()"></div>
    <div class="set1" ng-click="set1()"></div>
    <div class="set2" ng-click="set2()"></div>
    <div class="set3" ng-click="set2()"></div>
    <div class="set4" ng-click="set4()"></div>
    <div class="bass1" ng-click="bass1()"></div>
  </div>
</div>

</body>
</html>
