.bodydiv {
  text-align: center;

}

.drum-set {
  position: relative;
}

.drum-set img {
  display: block;
  width: 800px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
}

.symbol1 {
  position: absolute;
  top: 120px;
  left: 435px;
  z-index: 10;
  border: 2px solid red;
  padding: 74px;
}
.symbol2 {
  position: absolute;
  top: 24px;
  left: 605px;
  z-index: 10;
  border: 2px solid red;
  padding: 74px;
}
.symbol3 {
  position: absolute;
  top: 24px;
  left: 780px;
  z-index: 10;
  border: 2px solid red;
  padding: 74px;
}
.symbol4 {
  position: absolute;
  top: 120px;
  left: 954px;
  z-index: 10;
  border: 2px solid red;
  padding: 74px;
}
.set1 {
  position: absolute;
  top: 316px;
  left: 416px;
  z-index: 10;
  border: 2px solid red;
  padding: 90px;
}
.set2 {
  position: absolute;
  top: 206px;
  left: 604px;
  z-index: 10;
  border: 2px solid red;
  padding: 70px;
}
.set3 {
  position: absolute;
  top: 206px;
  left: 786px;
  z-index: 10;
  border: 2px solid red;
  padding: 70px;
}
.set4 {
  position: absolute;
  top: 316px;
  left: 940px;
  z-index: 10;
  border: 2px solid red;
  padding: 90px;
}
.bass {
  position: absolute;
  top: 350px;
  left: 670px;
  z-index: 10;
  border: 2px solid red;
  padding: 90px;
  padding-left: 100px;
  padding-right: 100px;
}